<script setup>
import { computed, reactive, toRefs } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
console.log(route.params.id);

const state = reactive({
  post: null,
  comments: computed( () => filterComments() )
})

const filterComments = () => {
  if (state.post) {
    return state.post.comments.map( (comment) => 
    comment.content
    )
  }
}

const { post, comments } = toRefs(state);

fetch(`https://local-apps.kairosds.com/api/posts-public/${route.params.id}`)
  .then((response) => response.json())
  .then((data) => {
    state.post = data
    //state.comments = data.comments
    console.log(data.comments);
  })

  console.log("comments",comments);

</script>

<template>
  <div>
    <h1>Details</h1>
    <router-link to="/">Home</router-link>
    <main v-if="post">
      <h2>{{post.title}}</h2>
      <p>{{post.content}}</p>
      <ul>Comentarios:
        <li v-for="comment in comments" :key="comment.id">
          <article>
            <p>{{comments}}</p>
            
          </article>
        </li>
        
      </ul>
    </main>
    <main v-else>
      <p>no hay datos disponibles</p>
    </main>
  </div>
</template>
