
<script setup>
import { reactive, toRefs } from "vue";


//PostsService

const state = reactive({
  posts: [],
});

const { posts } = toRefs(state)

fetch("https://local-apps.kairosds.com/api/posts-public")
  .then((response) => response.json())
  .then((data) => {
    console.log(data)
    data.forEach((element) => {
      const post = {
        ...element,
      }
      state.posts.push(post)
    })
  })
</script>

<template>
  <div>
    <h1>Home</h1>
    <ul>
      <li v-for="post in posts" :key="post.id">
        <article>
          <router-link :to="`/details/${post.id} `">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
          </router-link>
        </article>

      </li>
    </ul>
  </div>
</template>
